.navbar {
    background-color: #033F63;
}

.navbar-brand-name {
    font-size: 32px;
    color: #033F63;
    background-color: #D4B483;
    border-radius: 15px;
    padding: 0px 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-brand-name:hover {
    color: #779CAB;
    text-decoration: none;
}

.nav-item a {
    font-size: 24px;
    color: #779CAB;
}

.nav-item a:hover {
    color: #D4B483
}

.navbar-toggler {
    border-color: #c1c1c1;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}